<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HCDC_Portal"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".presentation.splash.SplashKt"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.main.MainKt"
            android:exported="false"/>

        <activity android:name=".presentation.login.LoginKt"
            android:exported="false"/>
        <activity android:name=".presentation.evaluation.EvaluationKt"
            android:exported="false"/>
        <activity android:name=".presentation.subjects_offered.SubjectOfferedKt"
            android:exported="false"/>
        <activity android:name=".presentation.subjects.SubjectDetailsKt"
            android:exported="false"/>
        <activity android:name=".presentation.settings.Settings"
            android:exported="false"/>
        <activity android:name=".presentation.building.Building"
            android:exported="false"/>
        <activity android:name=".presentation.building.BuildingDetails"
            android:exported="false"/>
        <activity android:name=".presentation.chat.ChatGPT"
            android:exported="false"/>
        <activity android:name=".presentation.lacking.Lacking"
            android:exported="false"/>
        <activity android:name=".presentation.main.Crash"
            android:exported="false"/>



        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />

        </provider>


    </application>

</manifest>